
.main {
     margin-top: 100px;
     

}
 .imgg {
    display: block;
    width: 300px;
    margin-block: 20px;
    margin-left: auto;
    margin-right: auto;
    
}

.box {
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    line-height: 24px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
   
}

.btn {
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 30px;
    padding-left:16px;
    padding-right:16px;
    padding-bottom:9px;
    padding-top:9px;
    font-size:  large;
    border-radius: 10px;
    border: none;
    background: #dfe1e5;
   
   
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    
}