
.main {
     margin-top: 100px;

}
 .imgg {
    display: block;
    width: 300px;
    margin-block: 20px;
    margin-left: auto;
    margin-right: auto;
    
}

.box {
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    line-height: 24px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
   
}

.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
   
   
}